.heading{
  text-align: center;
}

.dropdown-div{
  width: 60%;
  text-align: center;
  margin: auto;
}

.weather-div{
  width: 60%;
  text-align: center;
  margin: auto;
}

.weather-box{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 30%;
  padding: 8px;
}

.weather-wrapper{
  display: flex;
  justify-content: space-between;
}

.weather-type{
  font-size: 18px;
  font-weight: bold;
  color: rgb(16, 15, 54);
}